.home-page {
  padding: 2rem 1rem;
  background-color: #fff;

  &__heading {
    color: #5050ff;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 1.5rem;
      align-items: center;
    }
  }
  
  &__section {
    padding: 2rem 1rem;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-top: 1rem;
  }

  &__navlinks-wrapper {
    display: flex;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1.95px 2.6px;
  }

  &__link {
    @media screen and (max-width: 768px) {
      font-size: 0.8rem;
    }
  }

  &__link-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 10rem;
    cursor: pointer;
  }

  &__link-container.active {
    border-bottom: 3px solid #5050ff;
    box-shadow: rgba(0, 0, 255, 0.25) 0px 1.95px 2.6px;
  }

  &__link-indicator {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
  }

  .to-do {
    background-color: #5050ff;
  }

  .inprogress {
    background-color: #ffa500;
  }

  .done {
    background-color: #00ff00;
  }

  &__tasks-section {
    width: 100%;
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    gap: 3rem;
    padding: 2rem;
    margin-top: 1rem;

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  &__no-task {
    margin-top: 2rem;
    font-weight: 700;
    text-align: center;
  }

  &__task {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
    height: max-content;
  }

  &__task h3 {
    font-weight: bold;
    height: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__task-date--wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
  }

  &__task-date {
    font-size: small;
  }

  &__task-status {
    padding: 0 0.5rem;
    line-height: 2;
    background-color: #0000ff;
    width: fit-content;
    font-size: 0.6rem;
    border-radius: 1rem;
    margin-top: 1rem;
    font-weight: 600;
    color: #fff;
  }

  &__edit-status-wrapper {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__edit-status {
    display: flex;
    gap: 0.3rem;
    align-items: center;
  }

  &__task-edit {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
  }

  &__action-btns {
    display: flex;
    gap: 1rem;
  }

  &__task-input {
    padding: 0.2rem 0.3rem;
    background-color: #e5e5e5;
    border: none;
    border-radius: 0.3rem;
    color: #0000ff;

    &.error{
      outline: 1px solid var(--color-error);
    }

    &:focus {
      outline: 2px solid #0000ff;
    }
  }

  .error-message {
    color: var(--color-error);
    font-size: 0.6rem;
    font-weight: 700;
  }

}